body {
  margin: 3px 0 0 1px;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}
body section.content {
  background: #f1f1f1;
  width: 800px;
  border: 1px solid black;
  padding: 2px 2px 0 1px;
}
body section.content aside.leftMenu {
  float: left;
  width: 17%;
}
body section.content aside.leftMenu nav {
  margin: 11px 0 0 0;
  display: inline-block;
}
body section.content aside.leftMenu nav a {
  text-decoration: none;
  color: black;
  font-size: 0.75em;
  font-weight: bold;
}
body section.content aside.leftMenu nav a img {
  vertical-align: text-bottom;
}
body section.content aside.leftMenu nav ul {
  list-style-type: none;
  padding: 2px;
  margin: 9px 0 0 0;
}
body section.content aside.leftMenu nav ul li {
  line-height: 14px;
}
body section.content aside.leftMenu nav ul li a {
  font-family: Tahoma;
  color: black;
  font-weight: normal;
}
body section.content aside.leftMenu nav ul li a strong {
  color: #8d0301;
}
body section.content section.clearfix {
  float: left;
  width: 64%;
}
body section.content section.clearfix main {
  display: inline-block;
  border: 1px solid #a2a2a2;
  padding: 0 5px 0 5px;
  background: white;
}
body section.content section.clearfix main div.headNavigaton h1 {
  margin-bottom: 10px;
}
body section.content section.clearfix main button {
  border: 1px solid black;
  background: white;
  font-size: 0.7em;
  text-align: center;
  height: 20px;
  padding: 0;
}
body section.content section.clearfix main button.next {
  padding-left: 30px;
}
body section.content section.clearfix main button.next span {
  margin: 0 0 0 25px;
}
body section.content section.clearfix main button.previous {
  padding-right: 25px;
}
body section.content section.clearfix main button.previous span {
  margin: 0 18px 0 0;
}
body section.content section.clearfix main article {
  margin-bottom: 10px;
}
body section.content section.clearfix main article header h2 {
  background: #808080;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  padding-left: 5px;
  margin-top: 0;
}
body section.content section.clearfix main article section {
  width: 100%;
  font-size: 0.7em;
  font-family: Verdana;
}
body section.content section.clearfix main article section img {
  float: left;
}
body section.content section.clearfix main div.footerNavigation {
  margin-bottom: 40px;
}
body section.content aside.rightPanel {
  float: right;
  width: 19%;
}
body section.content aside.rightPanel article {
  margin: 0 0 1px 2px;
  border: 1px solid #a2a2a2;
  text-align: center;
}
body section.content aside.rightPanel article header h2 {
  background: #808080;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0;
}
body section.content aside.rightPanel article section {
  font-size: 0.7em;
  font-family: Verdana;
  background: white;
  padding: 8px 0;
}
body section.content aside.rightPanel article section img {
  float: left;
}
body section.content aside.rightPanel article section input[type="text"] {
  width: 65%;
}
body section.content aside.rightPanel article section button {
  padding-left: 0;
  padding-right: 0;
}
body section.content aside.rightPanel article footer {
  background: white;
  padding: 0 0 3px 0;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.redLink {
  color: #8f0907;
  font-size: 0.7rem;
}
/*# sourceMappingURL=index-styel.css.map */